//colors
$theme-primary-color-green: #70BF44;
$theme-secondary-color-darkblue: #252A4B;
$theme-third-color-red: #C2004E;


//fonts
$header-font: 'Acme', sans-serif;
$body-font: 'Montserrat', sans-serif;