// $primary : #024873; // primary
// $secondary : #0396A6; //secondary
// $info: #F25E5E; //info


@import '../node_modules/bootstrap/scss/bootstrap.scss';



body {
    color:#252A4B; 
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Acme', sans-serif;
}

.theme-color {
    color: #70BF44;  
}

.theme-color-2 {  
    color: #C2004E;
}

/*Top Menu*/

.menu-top-menu-container, .custom-logo-link{
    display: inline-block;
}


.navbar-light .navbar-nav .nav-link {
    color: #252A4B;
  }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #70BF44;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #70BF44;
  }




// .top-bar{
// 	position: sticky;
// 	top: 0;
// 	z-index: 100;
// }
// .top-bar a{
// 	padding-left: 10px;
// 	padding-right: 10px;
// }
// .dropdown-menu{
// 	border: 0;
// }

// .dropdown-item:hover{
// 	color: #70BF44;
// }

// .current-menu-item a{
// 	font-weight: 700;
// }

/*End of top menu*/


.header-image{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-title{
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
}


.widget {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #252A4B; 
}

.widget_recent_entries ul li,
.widget_categories ul li{
    list-style-type: none;
    padding: 5px;
}

.widget_recent_entries ul li a, 
.widget_categories ul li a{
    color: #252A4B;
    font-family: 'Roboto', sans-serif;
}

.widget_recent_entries ul li a:hover,
.widget_categories ul li a:hover{
    color: #70BF44;
    text-decoration: underline;
}



figcaption {
    width: 300px;
}


.wp-block-image{
    text-align: center;
}


.card-body a:hover {
    color: #70BF44;
}


// .card-body a{
//     background-color: #70BF44;
//     color: white;
//     font-family: 'Montserrat', sans-serif;
// }


// .my-border {
//     border : 1px solid #70BF44;
// }

// .card-body a:hover {
//     color: #70BF44;
//     background-color: white;
//     border : 2px solid #70BF44;
// }




footer{
    left: 0;
    bottom: 0;
}

.break-line {
    width: 90%;
}

.facebook{
    width:80px;
    height:auto;
  }